.weather-box {
  background-image: linear-gradient(to bottom right, #d1b4f7 0%, #fd8fb9 100%);
  background-size: cover;
  border-radius: 12px;
  margin: auto;
  padding: 2%;
  color: white;

  font-family: raleway;
}